*{
    font-family: arial;
}
p{
    font-size: 1.2em;
}
body{
    margin: 0px;
    display: grid;
    grid-template-areas:
    'topbar topbar'
    'sidebar body'
    'footer footer';
    grid-template-columns: 0.25cm auto;
}

body > div{
    overflow: hidden;
}

#body{
    grid-area: body;
    font-family: arial;
    min-height: 100vh;
    margin-left: 1cm;
}

#sidebar{
    grid-area: sidebar;
    background-color: wheat;
    position: sticky;
}

#sidebar:hover{
    width: min-content;
}

#topbar{
    grid-area: topbar;
    border-bottom: 1px solid grey;
    margin: 0.4cm;
    margin-bottom: 0px;
}

#footer{
    border-top: 1px solid grey;
    grid-area: footer;
    padding: 10px;
    background-color: azure;
    text-align: center;
}
#footer > * > *{
    text-decoration: none;
    margin: 0px;
    padding: 0px;
}
.citationSup{
    color: blue;
    cursor: pointer;
}
.citationSup:hover{
    color: lightblue;
}

code.language-plaintext{
    font-family: monospace;
}
