<p><a href = "mailto:plupy44@gmail.com">Email?</a></p>
<p><a href = "https://github.com/LinuxRocks2000">Github?</a></p>
<p>Privacy policy: We don't collect data</p>
<p>Cookie policy: We don't use cookies</p>
<p>Copywrong 1492, Tyler Clarke</p>
<p>All rights preserved</p>
<p>Vegetables are alive too</p>
<p>Cows pollute the environment and should be eaten</p>
<p>Nothing here is copyrighted - if we wanted people to not have our data, we wouldn't smatter it across the internet.</p>
<p>Lawyers beware - here be people who know that lawyers are hired thugs designed <br />to make the person with more money win in court, no matter how right or wrong they are</p>
<p>I hereby order that any stuck-up prigs that say I need a real privacy policy can leave the room.</p>
