<div id="stickything">
{% for post in site.posts %}
    <a class = "theA" href="{{ site.baseurl }}{{ post.url }}">
        <div class = "sidebar-item">
            <span class = "title">{{ post.title }}</span><br />
            <span class = "bottomthing">{{ post.bottomthing }}</span>
        </div>
    </a>
{% endfor %}
</div>
<style>
    .sidebar-item{
        padding: 10px;
        background-color: azure;
        margin: 10px;
    }
    .sidebar-item > .title{
        color: black;
        text-decoration: none;
        white-space: nowrap;
    }
    .sidebar-item > .bottomthing{
        color: grey;
        font-weight: bold;
    }
    .sidebar-item:hover{
        background-color: transparent;
    }
    .theA{
        text-decoration: none;
    }
    #stickything{
        position: relative;
    }
</style>
