<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>{{ page.title }}</title>
        <link rel="stylesheet" href="{{ site.baseurl }}/css/main.css" />
        <link rel="stylesheet"
              href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.5.1/styles/default.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.5.1/highlight.min.js"></script>
        <script>
            hljs.configure({
                ignoreUnescapedHTML: true
            });
            hljs.highlightAll();
        </script>
    </head>
    <body>
        <div id="topbar">
            {% include nav.html %}
        </div>
        <div id="body">
            <div class="navlinks">
                {% assign last=page %}
                {% for post in site.posts reversed %}
                    {% if post.url == page.url %}
                        {% if last.url != page.url %}
                            <a href="/blog{{ last.url }}">&lt; {{ last.title }} <p>{{ last.bottomthing }}</p></a>
                        {% endif %}
                    {% endif %}
                    {% assign last = post %}
                {% endfor %}
                {% assign last=page %}
                {% for post in site.posts %}
                    {% if post.url == page.url %}
                        {% if last.url != page.url %}
                            <a href="/blog{{ last.url }}" style="flex-direction: row-reverse; float: right;">{{ last.title }} &gt;<p>{{ last.bottomthing }}</p></a>
                        {% endif %}
                    {% endif %}
                    {% assign last = post %}
                {% endfor %}
            </div>
            {{ content }}
            My friend's blogs: <a href="https://wizardwatch.net/">Wizardwatch's overall site</a>, <a href="https://sawyershepherd.org/">Sawyer's blog</a> (the .org part bemuses me). If ryleu decides to actually put something on his site, I'll link it here.
            <div class="navlinks">
                {% assign last=page %}
                {% for post in site.posts reversed %}
                    {% if post.url == page.url %}
                        {% if last.url != page.url %}
                            <a href="/blog{{ last.url }}">&lt; {{ last.title }} <p>{{ last.bottomthing }}</p></a>
                        {% endif %}
                    {% endif %}
                    {% assign last = post %}
                {% endfor %}
                {% assign last=page %}
                {% for post in site.posts %}
                    {% if post.url == page.url %}
                        {% if last.url != page.url %}
                            <a href="/blog{{ last.url }}" style="flex-direction: row-reverse; float: right;">{{ last.title }} &gt;<p>{{ last.bottomthing }}</p></a>
                        {% endif %}
                    {% endif %}
                    {% assign last = post %}
                {% endfor %}
            </div>
            <div id="disqus_thread"></div>
            <script>
                /**
                *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
                *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables    */
                /*
                var disqus_config = function () {
                this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
                this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
                };
                */
                (function() { // DON'T EDIT BELOW THIS LINE
                var d = document, s = d.createElement('script');
                s.src = 'https://linuxrocks2000-github-io.disqus.com/embed.js';
                s.setAttribute('data-timestamp', +new Date());
                (d.head || d.body).appendChild(s);
                })();
            </script>
            <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
        </div>
        <div id="footer">
            {% include bottom.html %}
        </div>
        <div id="sidebar">
            {% include sidebar.html %}
        </div>
        <script type="text/javascript">
            Array.from(document.getElementsByClassName("noselect")).forEach((item, i) => {
                item.addEventListener('copy', function(e){
                    var text = window.getSelection().toString().replace(/[\n\r]+/g, '');
                    e.clipboardData.setData('text/plain', "Let me make something clear. When I mark something noSelect, I mean it. This blog contains tutorials, in which you learn, NOT just copy code! I do not want people putting in zero-effort.");
                    e.preventDefault();
                });
            });
        </script>
        <script type = "text/javascript" src = "{{ site.baseurl }}/js/main.js"></script>
    </body>
</html>
