<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>{{ page.title }}</title>
        <link rel="stylesheet" href="{{ site.baseurl }}/css/main.css" />
        <link rel="stylesheet"
              href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.5.1/styles/default.min.css">
        <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.5.1/highlight.min.js"></script>
    </head>
    <body>
        <div id="topbar">
            {% include nav.html %}
        </div>
        <div id="body" style="display: none;">
            <script type="text/javascript">
                var isFirefox = typeof InstallTrigger !== 'undefined';
                if (!isFirefox){
                    alert("Use firefox.");
                    window.location.replace("https://www.mozilla.org/en-US/firefox/new/");
                    alert("Apparently, you broke out of it!");
                    document.documentElement.innerHTML = "";
                    while (1); // Hang the thread if they try beating me
                }
                else{ // They don't get to view any content if they even do manage to get past my clickwall!
                    window.onload = function(){
                        document.getElementById("body").style.display="";
                        hljs.highlightAll();
                    }
                }
            </script>
            {{ content }}
            My friend's blogs: <a href="https://wizardwatch.net/">Wizardwatch's overall site</a>, <a href="https://sawyershepherd.org/">Sawyer's blog</a> (the .org part bemuses me). If ryleu decides to actually put something on his site, I'll link it here.
            <div id="disqus_thread"></div>
            <script>
                /**
                *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
                *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables    */
                /*
                var disqus_config = function () {
                this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
                this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
                };
                */
                (function() { // DON'T EDIT BELOW THIS LINE
                var d = document, s = d.createElement('script');
                s.src = 'https://linuxrocks2000-github-io.disqus.com/embed.js';
                s.setAttribute('data-timestamp', +new Date());
                (d.head || d.body).appendChild(s);
                })();
            </script>
            <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
        </div>
        <div id="footer">
            {% include bottom.html %}
        </div>
        <div id="sidebar">
            {% include sidebar.html %}
        </div>
        <script type = "text/javascript" src = "{{ site.baseurl }}/js/main.js"></script>
    </body>
</html>
